<div style="margin-bottom: 100px;">
  <app-product-bar-charts></app-product-bar-charts>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-product-pie-charts></app-product-pie-charts>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-product-area-line-charts></app-product-area-line-charts>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-bubble-chart></app-bubble-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-gauge-chart></app-gauge-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-heat-map-chart></app-heat-map-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-linear-gauge-chart></app-linear-gauge-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-number-card-chart></app-number-card-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-polar-radar-chart></app-polar-radar-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <app-tree-map-chart></app-tree-map-chart>
</div>

<hr>

<div style="margin-bottom: 100px;">
  <my-app-pie></my-app-pie>
</div>
